[*.cs]

# CA1031: Не перехватывать исключения общих типов
dotnet_diagnostic.CA1031.severity = none

# CA1305: Укажите IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA1062: Проверить аргументы или открытые методы
dotnet_diagnostic.CA1062.severity = none

# CA1303: Не передавать литералы в качестве локализованных параметров
dotnet_diagnostic.CA1303.severity = none

# CA2000: Ликвидировать объекты перед потерей области
dotnet_diagnostic.CA2000.severity = none
